<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emrizkiem.backgroundprocess">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BackgroundProcess">
        <receiver
            android:name=".alarmmanager.AlarmReceiver"
            android:enabled="true"
            android:exported="true"/>

        <activity
            android:name=".alarmmanager.AlarmManagerActivity"
            android:exported="true" />

        <receiver
            android:name=".broadcastreceiver.SmsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".broadcastreceiver.SmsReceiverActivity"
            android:exported="true"
            android:theme="@style/Theme.BackgroundProcess.SmsReceiver" />
        <activity
            android:name=".broadcastreceiver.MyBroadcastReceiver"
            android:exported="true" />

        <service
            android:name=".service.MyBoundService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.MyIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".service.ServiceActivity"
            android:exported="true" />
        <activity
            android:name=".backgroundthread.BackgroundThreadActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>